*.swp
*.pyc

tmp/*

fabfile_local.py

settings/settings-*.py

vhosts/vhost-*
!vhosts/vhost-beta.editorsnotes.org.conf
!vhosts/vhost-editorsnotes.org.conf

# Ignore all conf files except those whitelisted below
nginx/nginx-*
uwsgi/uwsgi-*
systemd/*

# Templates for generating confs
!nginx/nginx-TEMPLATE.conf.py
!uwsgi/uwsgi-TEMPLATE.ini.py
!systemd/TEMPLATE.api.service.py
!systemd/TEMPLATE.renderer.service.py
!systemd/TEMPLATE.markup-renderer.service.py
!systemd/TEMPLATE.target.py

# workingnotes.org
!nginx/nginx-workingnotes.org.conf
!uwsgi/uwsgi-workingnotes.org.ini
!systemd/workingnotes.org.api.service
!systemd/workingnotes.org.renderer.service
!systemd/workingnotes.org.markup-renderer.service
!systemd/workingnotes.org.target

# test.workingnotes.org
!nginx/nginx-test.workingnotes.org.conf
!uwsgi/uwsgi-test.workingnotes.org.ini
!systemd/test.workingnotes.org.api.service
!systemd/test.workingnotes.org.renderer.service
!systemd/test.workingnotes.org.markup-renderer.service
!systemd/test.workingnotes.org.target

# editorsnotes.org
!nginx/nginx-editorsnotes.org.conf
!uwsgi/uwsgi-editorsnotes.org.ini
!systemd/editorsnotes.org.api.service
!systemd/editorsnotes.org.renderer.service
!systemd/editorsnotes.org.markup-renderer.service
!systemd/editorsnotes.org.target

# beta.editorsnotes.org
!nginx/nginx-beta.editorsnotes.org.conf
!uwsgi/uwsgi-beta.editorsnotes.org.ini
!systemd/beta.editorsnotes.org.api.service
!systemd/beta.editorsnotes.org.renderer.service
!systemd/beta.editorsnotes.org.markup-renderer.service
!systemd/beta.editorsnotes.org.target
