*.swp
*.pyc

tmp/*

fabfile_local.py

settings/settings-*.py

vhosts/vhost-*
!vhosts/vhost-beta.editorsnotes.org.conf
!vhosts/vhost-editorsnotes.org.conf

nginx/nginx-*
!nginx/nginx-beta.editorsnotes.org.conf
!nginx/nginx-editorsnotes.org.conf

uwsgi/uwsgi-*
!uwsg/uwsgi-beta.editorsnotes.org.ini
!uwsg/uwsgi-editorsnotes.org.ini

systemd/*
!systemd/editorsnotes.org.api.service
!systemd/editorsnotes.org.renderer.service
