[Unit]
Description=test.workingnotes.org site
Requires=test.workingnotes.org.api.service test.workingnotes.org.renderer.service test.workingnotes.org.markup-renderer.service

Requires=nginx.service
Requires=postgresql.service

[Install]
RequiredBy=multi-user.target