[Unit]
Description=Editors' Notes markup renderer node server for test.workingnotes.org

[Service]
ExecStart=/usr/bin/node /usr/local/projects/test.workingnotes.org/markup_renderer/node_modules/.bin/editorsnotes_renderer --port=15024

Restart=always

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=test.workingnotes.org.markup-renderer

BindsTo=test.workingnotes.org.target

[Install]
WantedBy=multi-user.target