[Unit]
Description=Editors' Notes renderer node server for test.workingnotes.org
BindsTo=test.workingnotes.org.target

[Service]
ExecStart=/usr/bin/node /usr/local/projects/test.workingnotes.org/renderer/releases/current/bin/serve.js
Restart=always

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=test.workingnotes.org.renderer

Environment= "EDITORSNOTES_API_URL=http://test.workingnotes.org" "EDITORSNOTES_RENDERER_PORT=15023" "NODE_ENV=production"

[Install]
WantedBy=multi-user.target