[Unit]
Description=Editors' Notes markup renderer node server for workingnotes.org

[Service]
ExecStart=/usr/bin/node /usr/local/projects/workingnotes.org/markup-renderer/node_modules/.bin/editorsnotes_renderer --port=15026

Restart=always

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=workingnotes.org.markup-renderer

BindsTo=workingnotes.org.target

[Install]
WantedBy=multi-user.target