[Unit]
Description=workingnotes.org site
Requires=workingnotes.org.api.service workingnotes.org.renderer.service workingnotes.org.markup-renderer.service

Requires=nginx.service
Requires=postgresql.service

[Install]
RequiredBy=multi-user.target