[Unit]
Description=workingnotes.org site
Requires=workingnotes.org.api.service workingnotes.org.renderer.service workingnotes.org.markup-renderer.service

After=multi-user.target