[Unit]
Description=workingnotes.org site
Requires=workingnotes.org.api.service workingnotes.org.renderer.service workingnotes.org.markup_renderer.service

After=multi-user.target