[Unit]
Description=Editors' Notes renderer node server for workingnotes.org

[Service]
ExecStart= /usr/local/projects/workingnotes.org/lib/iojs-current/bin/iojs /usr/local/projects/workingnotes.org/renderer/releases/current/src/server
Restart=always

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=workingnotes.org.renderer

Environment= "EDITORSNOTES_API_URL=http://workingnotes.org" "EDITORSNOTES_CLIENT_PORT=15024"



[Install]
WantedBy=multi-user.target